* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Links */
/* https://www.pngwing.com/pt */
/* freepik */

.card {
  width: 400px;
  height: 500px;
  border: 1px solid;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 20px;

}

.card__fundo {
  height: 180px;
  background-size: cover;
  background-image: url("../img/background.jpg");
}
.card__fundo figure{
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__img {
  width: 40%;
  /* display: block;
  margin: auto; */
  
  
}

.card__descricao {
  display: flex;
  flex-direction: column;
  gap: 20px;

}

.card__botao{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card__descricao h2 {
  
  text-align: center;
  color: rgb(3, 3, 108);
}

.card__descricao p {
  display: flex;
  padding:  0 ;
  flex-grow: 1;
}

.card__descricao span {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  display: block;
}

.card__botao button {
  display: block;

  border: 2px solid rgb(3, 3, 108);
  padding: 10px 15px;
  border-radius: 5px;
  background-color: rgb(3, 3, 108);
}

.card__botao button a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.container_produtos{
  display: flex;
  border:1px solid red;
  flex-wrap: wrap;
  gap:15px;
  justify-content: center;
}
